# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

/local/
/config/
/logs/
/mods/
/crash-reports/
win_event*.txt
launcher_log.txt
hs_err_pid-1.log
/.architectury-transformer/*
